 
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400");
*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive ;
  color: rgb(12, 121, 121);
}

.offset:before{
  display: block;
  content: '';
}
 .navbar {
   text-transform: uppercase;
   font-weight: 400;
   font-size: .9rem;
   background-color:rgb(0,0,0,0.6)!important;
 }

 .navbar-brand  img {
  height: 5rem; 
}

.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}

/*Landingg*/
.home-inner {
  background-image: url(/img/computers.png);
}

.caption {
  width :100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color:white;
}
.caption h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight:400;
  text-shadow: .1rem .1rem .8rem black;
  letter-spacing: .1rem;
  padding-bottom: 1rem;
}

.caption h3 {
  font-style: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium ;
  border-radius: 0;
  font-size: 1.1rem;
  padding: .6rem 1.3rem;
}
/*-- Service intro --*/

.narrow {
  margin: 1.5rem auto;
  padding-top: 2rem;
  text-align: left;
}

.narrow h1 {
  font-size: 2rem;
  color: rgb(26, 25, 25) ;
}
/*--Services Jumbotron--*/

.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem ;
  border-radius: 0;
}


.jumbotron h3 {
  color: rgb(26, 25, 25);
  font-size: 2rem;
  font-weight: 400;

}

/*--WhyUs?--*/
.fixed{
  background-image: url(img/apple.jpeg) ;
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 7rem 2rem ;
}
.fixed-background h1 {
margin-bottom:2rem ;
color: #1ebba3;
}
.fixed-background h3 {
  margin: 1rem;
  padding: 2rem;
  color: #1ebba3;
}

.fixed-background p {
  margin-top: 1.5rem;
  color: white;
}
/*Clients*/
.clients img {
  width: 100%;
  border-radius: 50%;
}

blockquote p {
  color: black;
  text-align: left;
}

.clients-hr{
  border-top:0.09rem solid #1ebba3  ;
}

h1.heading{
  color: rgb(12, 121, 121);
  font-size: 2.5rem;
}

/*Contact*/
footer{
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer h3 {
  color: black;
  font-size: 2.5rem;
  text-transform: uppercase;
}

hr.socket {
  border-top: .08rem solid darkcyan;
  margin-top:3rem ;
}

/*Email*/
.form-box {
  max-width: 30rem;
  padding: .5rem;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
}


/*--Media Queries--*/

@media (max-width: 767px){
  .caption h1 {
    font-size: 2.3rem;
    font-weight:400;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  
  .caption h3 {
    font-style: 1.2rem;
    padding-bottom: 1.2rem;
  }
  
  .btn-lg {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto; 
  }
  
}

@media (min-width: 992px) { 
  h3.service{
    font-size: 2rem;
  }
}
@media (min-width: 1200px) { 
  h3.service{
    font-size: 1.5rem;
  }
 }






 




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
